<div class="section-spacing section-spacing--disable-top">
	<div class="row">
		<div class="small-12 columns">
			<div class="page-content-width rte">
			    {{ page.content }}
			</div>
		</div>
	</div>
</div>
{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section"
}
{% endschema %}
