/*------------------------------------------------------------------
Compass Mixins
*/
/*------------------------------------------------------------------
Variables
*/
.thb-filter ul.list-color label:after {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

/*------------------------------------------------------------------
Utilities
*/
.facets-mobile-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 20px;
  padding: 13px 15px;
  font-size: 0.8125rem;
  background: var(--bg-body, #fff);
  position: sticky;
  top: var(--header-height-mobile, 60px);
  left: 0;
  z-index: 45; }
  @media only screen and (min-width: 768px) {
    .facets-mobile-container {
      display: none; } }
  .facets-mobile-container .facets-toggle svg {
    margin-right: 10px; }
  .facets-mobile-container .thb-filter-count {
    text-align: right;
    margin-left: auto; }
  .facets-mobile-container .facets__label {
    font-size: inherit;
    margin: 0 0 0 30px; }

.facets-desktop-container {
  border-top: 1px solid var(--color-border);
  padding-top: 10px;
  display: none;
  min-height: 65px; }
  @media only screen and (min-width: 768px) {
    .facets-desktop-container {
      display: block; } }
  .facets-desktop-container .thb-filter-count .facets__label {
    font-size: 0.9375rem; }
  .facets-desktop-container .thb-filter-count .loading-overlay {
    left: auto;
    right: 0; }

.facets__form {
  display: grid;
  grid-template-columns: 1fr max-content max-content; }

.facets__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.facets__label {
  font-size: 0.9375rem;
  opacity: 0.4;
  margin-right: 30px; }
  [dir="rtl"] .facets__label {
    margin: 0 0 0 30px; }

.facets .thb-filter-count {
  margin: 0 0 0 30px; }
  .facets .thb-filter-count .facets__label {
    margin: 0; }
  [dir="rtl"] .facets .thb-filter-count {
    margin: 0 30px 0 0; }

.facets .thb-filter {
  margin-right: 30px;
  position: relative; }
  [dir="rtl"] .facets .thb-filter {
    margin: 0 0 0 30px; }
  .facets .thb-filter .thb-filter-title {
    letter-spacing: 0.02em;
    position: relative;
    font-size: 0.9375rem;
    padding: 15px 15px 15px 0;
    cursor: pointer; }
    [dir="rtl"] .facets .thb-filter .thb-filter-title {
      padding: 15px 0 15px 15px; }
    .facets .thb-filter .thb-filter-title:after {
      content: "";
      display: inline-flex;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      border-color: var(--color-accent) transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -2px; }
      [dir="rtl"] .facets .thb-filter .thb-filter-title:after {
        right: auto;
        left: 0; }
    .facets .thb-filter .thb-filter-title::marker {
      content: none; }
  .facets .thb-filter[open] .thb-filter-dropdown {
    display: block; }
  .facets .thb-filter[open] .thb-filter-title {
    color: var(--color-accent2); }
    .facets .thb-filter[open] .thb-filter-title:after {
      transform: rotateX(180deg);
      border-color: var(--color-accent2) transparent transparent transparent; }
    .facets .thb-filter[open] .thb-filter-title:before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 20;
      display: block;
      cursor: default;
      content: " ";
      background: transparent; }
  .facets .thb-filter-dropdown {
    position: absolute;
    top: 100%;
    left: -25px;
    width: 350px;
    border: 1px solid var(--color-border);
    background: var(--bg-body, #fff);
    z-index: 45; }
    [dir="rtl"] .facets .thb-filter-dropdown {
      left: auto;
      right: -25px; }
    .facets .thb-filter-dropdown scroll-shadow {
      display: block;
      width: 100%; }
    .facets .thb-filter-dropdown__inner {
      padding: 24px;
      overflow-y: scroll;
      max-height: 250px; }
      .facets .thb-filter-dropdown__inner .count {
        font-size: 0.8125rem; }
      .facets .thb-filter-dropdown__inner input[type="checkbox"],
      .facets .thb-filter-dropdown__inner input[type="radio"] {
        margin-right: 10px;
        width: 18px;
        height: 18px; }
    .facets .thb-filter-dropdown__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 24px;
      font-size: 0.8125rem;
      background: rgba(var(--color-accent-rgb), 0.02);
      border-top: 1px solid var(--color-border);
      line-height: 1; }
    .facets .thb-filter-dropdown ul {
      list-style: none;
      margin: 0;
      padding: 0; }
  .facets .thb-filter-sort-count {
    display: flex;
    align-items: center;
    margin-left: auto; }
  .facets .thb-filter-sort {
    display: flex;
    align-items: center; }
    .facets .thb-filter-sort .select {
      margin-bottom: 0; }
      .facets .thb-filter-sort .select:after {
        right: 0; }
    .facets .thb-filter-sort select {
      margin-bottom: 0;
      border: 0;
      padding-left: 0;
      padding-right: 14px;
      font-size: 0.9375rem; }
  .facets .thb-filter label.facet-checkbox--disabled {
    cursor: not-allowed; }

.facets__reset {
  color: var(--color-accent2);
  text-decoration: underline; }

.facets__mobile_form .thb-filter-sort {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .facets__mobile_form .thb-filter-sort .thb-filter-title {
    margin: 0; }
  .facets__mobile_form .thb-filter-sort .select {
    border: 0;
    padding: 0;
    margin: 0; }
    .facets__mobile_form .thb-filter-sort .select select {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      height: auto; }

.facets__mobile_form .thb-filter-dropdown input[type="checkbox"],
.facets__mobile_form .thb-filter-dropdown input[type="radio"] {
  margin-right: 10px;
  width: 18px;
  height: 18px; }

.price_range .price-highest {
  display: block;
  font-size: 0.8125rem;
  margin-bottom: 15px; }

.price_range .price_slider_amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px; }
  .price_range .price_slider_amount > div {
    display: flex;
    align-items: center; }
    .price_range .price_slider_amount > div .field-currency {
      font-size: 0.8125rem;
      margin-right: 10px; }
  .price_range .price_slider_amount input {
    box-sizing: border-box;
    margin-bottom: 0;
    height: 44px;
    padding: 12px 16px;
    font-size: 0.8125rem;
    flex: 1;
    width: 0; }
    .price_range .price_slider_amount input:-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .price_range .price_slider_amount input::-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .price_range .price_slider_amount input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .price_range .price_slider_amount input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }

.price_slider {
  touch-action: none;
  user-select: none;
  padding: 0 9px; }
  .price_slider_wrapper {
    display: block;
    width: 100%; }
  .price_slider * {
    touch-action: none;
    user-select: none; }
  .price_slider .noUi-base,
  .price_slider .noUi-connects {
    height: 4px;
    background: var(--color-border);
    position: relative;
    margin-bottom: 25px; }
  .price_slider .noUi-connect {
    height: 100%;
    width: 100%;
    background: var(--color-accent); }
  .price_slider .noUi-origin {
    height: 0;
    width: 100%; }
  .price_slider .noUi-connect,
  .price_slider .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform-style: flat; }
  .price_slider.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 0;
    right: auto; }
  .price_slider .noUi-handle {
    display: block;
    outline: none;
    position: absolute;
    top: -7px;
    right: -9px;
    width: 19px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid var(--color-accent);
    background: #fff url("data:image/svg+xml,%3Csvg width='5' height='6' viewBox='0 0 5 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1V6H0V0Z' fill='%23103A3A'/%3E%3Cpath d='M2 0H3V6H2V0Z' fill='%23103A3A'/%3E%3Cpath d='M4 0H5V6H4V0Z' fill='%23103A3A'/%3E%3C/svg%3E%0A") center center no-repeat;
    backface-visibility: hidden; }
    .price_slider .noUi-handle .noUi-touch-area {
      height: 100%;
      width: 100%; }
    .price_slider .noUi-handle:focus-visible {
      outline: 2px solid #015ecc;
      outline-offset: 2px; }
  .price_slider.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -7px;
    right: auto; }

.facet-drawer {
  overflow: inherit; }
  .facet-drawer .side-panel-inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh; }
  .facet-drawer .side-panel-content {
    overflow-y: scroll; }
  .facet-drawer .side-panel-footer {
    border-top: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding: 20px; }
  .facet-drawer .thb-filter {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 25px;
    margin-bottom: 25px; }
    .facet-drawer .thb-filter:last-child {
      border: 0;
      padding: 0; }
    .facet-drawer .thb-filter-title {
      font-size: 0.875rem;
      line-height: 1;
      margin-bottom: 20px;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .facet-drawer .thb-filter ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .facet-drawer .thb-filter ul .count {
        font-size: 0.8125rem; }

.thb-filter-count.loading .facets__label {
  opacity: 0; }

.thb-filter-count .facets__label {
  margin: 0; }

.thb-filter-count .facets__label {
  opacity: 0.6;
  font-size: 0.8125rem;
  margin-top: 10px; }

.thb-filter-count .loading-overlay {
  width: 18px;
  height: 18px;
  left: 0;
  transform: translateY(-50%); }

.active-facets {
  display: block;
  font-size: 0.6875rem;
  margin-bottom: 14px; }
  .active-facets__button {
    border: 1px solid var(--color-accent);
    height: 28px;
    display: inline-flex;
    align-items: center;
    border-radius: 14px;
    padding: 3px 12px 3px 15px;
    margin: 0 8px 8px 0; }
    [dir="rtl"] .active-facets__button {
      margin: 0 0 8px 8px; }
    .active-facets__button svg {
      margin-left: 8px; }
      [dir="rtl"] .active-facets__button svg {
        margin: 0 8px 0 0; }
    .active-facets__button:hover {
      background: var(--color-accent);
      color: #fff; }
      .active-facets__button:hover svg path {
        fill: #fff; }
  .active-facets__button-remove {
    font-weight: 600;
    margin-left: 9px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-underline-offset: 2px; }
    .active-facets__button-remove:only-child {
      display: none; }

.thb-filter ul.list-color input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }
  .thb-filter ul.list-color input:checked + label:after {
    border-color: var(--color-accent); }
  .thb-filter ul.list-color input:focus-visible + label {
    box-shadow: 0 0 0 2px #015ecc; }

.thb-filter ul.list-color label {
  display: inline-block;
  padding-left: 27px;
  position: relative;
  border: 0;
  cursor: pointer; }
  .thb-filter ul.list-color label:before {
    content: "";
    display: block;
    background: #000;
    background: var(--bg-color, "black");
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 3px solid #fff !important;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px; }
  .thb-filter ul.list-color label:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    pointer-events: none; }
  [dir="rtl"] .thb-filter ul.list-color label {
    padding-left: 0;
    padding-right: 27px; }
    [dir="rtl"] .thb-filter ul.list-color label:before, [dir="rtl"] .thb-filter ul.list-color label:after {
      left: auto;
      right: 0; }
  .thb-filter ul.list-color label:hover:after {
    border-color: var(--color-accent); }
